.movies-list {
    display: flex;
    flex-direction: column;
    padding-top: 70px;
    width: 100%;
  }
  
  .movies-list__cards {    
    list-style: none;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px 24px;
    margin: 0;
    padding: 0;  
  }

  .movies-list__button-more {
    margin: 80px auto;
    width: 320px;
    height: 36px;
    font-size: 12px;
    font-weight: 500;
    line-height: 1.25;
    letter-spacing: 0px;
    text-align: center;
    padding: 11px 0 9px;
    background-color: #202020;
    color: #fff;
    border: 1px solid #424242;
  }
  
  @media screen and (max-width: 1024px) {
    .movies-list__cards {
     grid-template-columns: repeat(2, 1fr);
     gap: 36px 30px;
    }    
  }  
 
  @media screen and (max-width: 475px) {
    .movies-list {
      padding-top: 40px;
    }

    .movies-list__cards {
      grid-template-columns: 1fr;
      gap: 16px;
    }

    .movies-list__button-more {        
        width: 240px;        
      }
  }