.navigation {
    display: block;      
    box-sizing: border-box;
    margin-left: 44px;
  }
  
  .navigation__link {
    font-size: 13px;
    font-weight: 400;
    line-height: 1.38;
    text-decoration: none;
    margin-right: 16px;
  }

  .navigation__link_active {
    cursor: default;
    font-size: 13px;
    line-height: 1.38;
    font-weight: 500;
    margin-right: 16px;
  }
  
  @media screen and (max-width: 768px) {
    .navigation {
      display: none;
    }
  }