.enter-form {
  width: 396px;
  box-sizing: border-box;
  margin: 70px auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.enter-form__greeting {
  margin: 40px 0;
  font-size: 24px;
  font-weight: 500;
  line-height: 1, 2;
  letter-spacing: 0em;
  padding: 0;
}

.enter-form__set {
  margin: 0 auto 18px;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0;
  border: none;
  position: relative;
}

.enter-form__field {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 0;
  margin: 0;
  border: none;
}

.enter-form__label {
  font-weight: 400;
  font-size: 10px;
  line-height: 1.2;
  color: #8B8B8B;
}

.enter__input {
  box-sizing: border-box;
  width: 100%;
  min-height: 32px;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.2;
  color: #fff;
  letter-spacing: 0em;
  border: none;
  outline: none;
  white-space: nowrap;
  overflow: hidden;
  padding-bottom: 10px;
  border: none;
  border-bottom: 1px solid #424242;
  margin-bottom: 24px;
  background: #202020;
}

.enter-form__input:focus {
  font-weight: 500;
}

.enter-form__input:last-of-type {
  margin-bottom: 10px;
}

.enter-form__error {
  color: #ee3465;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2;
  position: absolute;
  width: 100%;
  top: -70px;
  text-align: center;
}

.enter-form__success {
  color: #3ddc84;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2;
  position: absolute;
  width: 100%;
  top: -70px;
  text-align: center;
}

.enter-form__input-error {
  color: #ee3465;
  font-size: 10px;
  font-weight: 400;
  line-height: 1.2;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 0;
}

.enter-form__bottom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  margin: 197px auto 0;
  align-self: flex-end;
  position: relative;
}

.enter__submit-btn {
  width: 100%;
  height: 45px;
  background-color: #4285F4;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0em;
  color: #fff;
  text-align: center;
  padding: 13px 0 15px;
  border: none;
  border-radius: 3px;
  margin: 30px auto 16px;
}

.enter__submit-btn_disabled {
  cursor: default;
  background: #f8f8f8;
  color: #c2c2c2;
}

.enter__text {
  font-size: 14px;
  line-height: 1.21;
  font-weight: 400;
  text-align: center;
  justify-content: center;
  margin: 0 auto;
  text-decoration: none;
  color: #8B8B8B;
}

.enter__link {
  text-decoration: none;
  color: #4285F4;
  margin-left: 6px;
}

@media screen and (max-width: 1024px) {
  .enter-form {
    margin: 232px auto;
  }

  .enter__submit-btn {
    margin-top: 69px;
  }
}

@media screen and (max-width: 425px) {
  .enter-form {
    width: 100%;
    margin: 56px auto 30px;
  }

  .enter-form__logo {
    display: flex;
    margin: 0 auto;
  }

  .enter-form__greeting {
    font-size: 24px;
    font-weight: 500;
    text-align: center;
    padding: 50px 0px 80px;
    margin: 0 auto;
  }

  .enter-form__set {
    margin: 0 auto;
    width: calc(100% - 60px);
    padding-bottom: 65px;
  }

  .enter__submit-btn {
    font-size: 12px;
    margin: 30px auto 14px;
    max-width: 260px;
  }

  .enter__text {
    font-size: 12px;
  }
}
